{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "svelteSortOrder": "options-scripts-styles-markup",
    "svelteBracketNewLine": false,
    "svelteIndentScriptAndStyle": false,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 1
            }
        }
    ]
}
