[Unit]
Description = BBYCR
Before = bbycr-gpio.service

[Service]
ExecStart = /home/dietpi/bbycr-rest
WorkingDirectory=/home/dietpi/
Type = simple
RemainAfterExit=no
Restart=on-failure
RestartSec=5

[Install]
WantedBy = multi-user.target
