[Unit]
Description = Deichwave
Before = deichwave-gpio.service

[Service]
ExecStart = /home/dietpi/deichwave
WorkingDirectory=/home/dietpi/
Type = simple
RemainAfterExit=no
Restart=on-failure
RestartSec=5

[Install]
WantedBy = multi-user.target
