[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_ext

[dn]
C  = DE
ST = Bremen
L  = Bremen
O  = Deichwave
OU  = Deichwave Self-Signed Certificates

[v3_ca]
basicConstraints = critical, CA:TRUE
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
subjectKeyIdentifier = hash
nameConstraints = critical, @name_constraints

[v3_ext]
authorityKeyIdentifier = keyid,issuer
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[name_constraints]
permitted.DNS.1 = deichwave.internal
permitted.DNS.2 = pi
permitted.DNS.3 = pi.local
permitted.DNS.4 = bbycr
permitted.DNS.5 = bbycr.local
permitted.DNS.6 = bbycr-pi
permitted.DNS.7 = bbycr-pi.local

[alt_names]
DNS.1 = pi
DNS.2 = pi.local
DNS.3 = bbycr
DNS.4 = bbycr.local
DNS.5 = bbycr-pi
DNS.6 = bbycr-pi.local
