debug = false

[audio]
# rate = 48000                    # [Hz] Sample rate used to initialize the speaker
# quality = 6                     # [-]  Resampling quality used if a sound file does not have the correct sample rate
# volume = 25                     # [%]  Initial volume used overall (common factor for music and sounds)

[sounds]
# path = "data/sounds/processed"
# ext = ".ogg"                    #      Extension for sound files
# randomizer = ".random"          #      Name of the magic file used to randomize sound groups
# volume = 100                    # [%]  Nominal volume level of sounds

[music]
# path = "data/playlists"
# ext = ".mp3"                    #      Extension for music files
# volume = 50                     # [%]  Nominal volume level of music
# startrng = [95, 5]              # [%]  Chance for each playlist to occur in the mix at the lowest intensity
# endrng = [30, 70]               # [%]  Chance for each playlist to occur in the mix at the highest intensity

[hardware]
led-driver = "ws281x"           # [%]  Maximum brightness for the LEDs
# led-brightness = 100            # [%]  Maximum brightness for the LEDs
# led-pin = 18                    # [-]  GPIO pin to which the LEDs are connected

[leds.front-trunk]
order = 1
count = 2

[leds.top-right]
order = 2
count = 8

[leds.rear-right]
order = 3
count = 5

[leds.rear-center]
order = 4
count = 5

[leds.rear-left]
order = 5
count = 5

[leds.top-left]
order = 6
count = 8

[leds.front-left]
order = 7
count = 5

[leds.front-center]
order = 8
count = 5

[leds.front-right]
order = 9
count = 5
